= render :partial => "link"

%table.data_table
  %tr
    %th Typ tovaru
    %th.tr.hodnota Suma
    %th.tr Podiel
  - @table.rows.each_index do |row|
    %tr
      %td= @table.rows[row][0].formatted_value
      %td.tr= @table.formatted_value_at(row, 1)
      %td.tr= @table.formatted_value_at(row, 2)
      
= render :partial => "global/pagination"