.header.clearfix
  .fl
    %h1
      Zoznam dodaváteľov
  .fr.clearfix
    = render :partial => "lists/buttons"

= render :partial => "reports/slicer"

%table.data_table
  %tr
    %th Nazov
    %th.tr.hodnota Suma
    %th.tr Podiel
  - @table.rows.each_index do |row|
    %tr
      %td
        = link_to @table.rows[row][0].formatted_value, report_path("supplier", :cut => "dodavatel:*-#{@table.rows[row][0].value}")
      %td.tr= @table.formatted_value_at(row, 1)
      %td.tr= @table.formatted_value_at(row, 2)
      
= render :partial => "global/pagination"