= render :partial => "search"

- if @results.present?
  
  .clearfix
    %h1.fl== Počet záznamov: #{@total_found}

    .clearfix.fr
      .fl.tab_label
        Zoradiť podľa:
      .tabs.clearfix.fl
        %a.tab{:class => params[:order] == "relevance" ? "active" : "", |
               :href => url_for(params.merge({:order => "relevance"}))} |
          Relevancie
        %a.tab{:class => params[:order] == "alphabet" ? "active" : "", |
               :href => url_for(params.merge({:order => "alphabet"}))}  |
          Abecedy

  %br

  %table.search_results
    - @results.each do |result|
      %tr
        %td
          = link_to highlight_query(result[:value], @query), result[:link]
          - if result[:level_obj]
            = "(#{result[:level_obj].label})"
          
  = render :partial => "global/pagination"

- else
  .note Žiadne výsledky