= render :partial => "slicer"

= render :partial => "search"

%table.dimension
  - @data.each do |row|
    - path = @path.clone.push(row[@level.key_field.to_sym]).join('-')
    %tr{:class => cycle("even", "odd")}
      %td
        - if @level_number+1 == @levels.count
          = row[@description_field.to_sym]
        - else
          %a{:href => url_for(:path => path)}
            = row[@description_field.to_sym]
      %td
        %a{:href => report_path(@report_map[@dimension_name], :cut => "#{@dimension_name}:#{path}")}
          Prehľad ›
          
= render :partial => "global/pagination"