%h1= @dimension.label

= render :partial => "slicer"

- form_tag search_dimension_path(@dimension_name) do
  %input{:name => "query"}
  %input{:type => "submit", :value => "Hľadať"}
  
%br

%table
  - @data.each do |row|
    - path = @path.clone.push(row[@level.level_fields.first.to_sym]).join('-')
    %tr
      %td
        - if @level_number+1 == @levels.count
          = row[@level.short_description_field.to_sym]
        - else
          %a{:href => url_for(:path => path)}
            = row[@level.short_description_field.to_sym]
      %td
        %a{:href => report_path(@report_map[@dimension_name], :cut => "#{@dimension_name}:#{path}")}
          Report ›