.header.clearfix
  .fl
    %h1
      Zoznam zmlúv
      %em= "(%s zmlúv)" % number_with_delimiter(@paginator.total, :delimiter => " ")
      
  .fr
    = render :partial => "reports/buttons"

= render :partial => "reports/slicer"

= link_to "Stiahnuť CSV", :format => "csv", :cut => params[:cut]
%br
%br

%table.data_table
  %tr
    %th.datum= sort_link "Dátum", :vestnik_datum
    %th= sort_link "Obstarávateľ", :"obstaravatel.name"
    %th= sort_link "Dodávateľ", :"dodavatel.name"
    %th= sort_link "Predmet obstarávania", :"cpv.description"
    %th.tr.hodnota= sort_link "Hodnota zmluvy", :zmluva_hodnota
    %th
    
  - @facts.each do |fact|
    %tr{:class => cycle("even", "odd")}
      %td=l fact[:vestnik_datum]
      %td= fact[:"obstaravatel.name"]
      %td= fact[:"dodavatel.name"]
      %td= fact[:"cpv.description"]
      %td.tr= number_to_currency(fact[:zmluva_hodnota])
      
      %td
        %a.detail{:href => fact_path(fact[:id], :cut => params[:cut])}
        
= render :partial => "global/pagination"