.header.clearfix
  .fl
    %h1
      Zoznam zmlúv
      %em== (#{@paginator.total} zmlúv)
  .fr
    = render :partial => "reports/buttons"

= render :partial => "reports/slicer"

%table.data_table
  %tr
    - @fields.each do |key, label|
      %th
        %a{:href => "#sort"}= label
    %th
  - @facts.each do |fact|
    %tr{:class => cycle("even", "odd")}
      - @fields.each do |key, label|
        %td= fact[key]
      %td
        %a.detail{:href => fact_path(fact[:id], :cut => params[:cut])}
        
- if @paginator.paginate?
  .clearfix
    %ul.pagination.clearfix.fl
      - unless @paginator.page == 1
        %li= link_to "Prvá", update_params(:page => 1)
      - unless @paginator.page == 1
        %li= link_to "‹ Predchádzajúca", update_params(:page => @paginator.page-1)
      - unless @paginator.page >= @paginator.total_pages
        %li= link_to "Ďalšia ›", update_params(:page => @paginator.page+1)
      - unless @page == @paginator.total_pages
        %li= link_to "Posledná", update_params(:page => @paginator.total_pages)
    .fr
      == Stránka #{@paginator.page}/#{@paginator.total_pages}