.header.clearfix
  .fl
    %h1
      Zoznam zmlúv
      %em== (#{@paginator.total} zmlúv)
  .fr
    = render :partial => "reports/buttons"

= render :partial => "reports/slicer"

%table.data_table
  %tr
    - @fields.each do |key, label|
      %th
        = sort_link label, key
    %th
  - @facts.each do |fact|
    %tr{:class => cycle("even", "odd")}
      - @fields.each do |key, label|
        %td= fact[key]
      %td
        %a.detail{:href => fact_path(fact[:id], :cut => params[:cut])}
        
= render :partial => "global/pagination"