= render :partial => "reports/buttons"

.header
  %h1
    Zoznam zmlúv
    %em= "(%s zmlúv)" % number_with_delimiter(@paginator.total, :delimiter => " ")

= render :partial => "reports/slicer"

- unless @facts.empty?
  .clearfix
    %a.button.simple.tip{:href => url_for(:format => "csv", :cut => params[:cut]), :title => "Stiahnúť tabuľku vo formáte CSV."}
      Stiahnuť CSV
      = image_tag "download.png"
  %br

%table.data_table
  %tr
    %th.datum= sort_link "Dátum", :vestnik_datum
    %th= sort_link "Obstarávateľ", :"obstaravatel.name"
    %th= sort_link "Dodávateľ", :"dodavatel.name"
    %th= sort_link "Predmet obstarávania", :"cpv.description"
    %th.tr.hodnota= sort_link "Hodnota zmluvy", :zmluva_hodnota
    %th
    
  - @facts.each do |fact|
    %tr{:class => cycle("even", "odd")}
      %td=l fact[:vestnik_datum]
      %td= fact[:"obstaravatel.name"]
      %td= fact[:"dodavatel.name"]
      %td= fact[:"cpv.description"]
      %td.tr= number_to_currency(fact[:zmluva_hodnota])
      
      %td
        %a.detail{:href => fact_path(fact[:id], :cut => params[:cut])}
        
= render :partial => "global/pagination"