- soffer_count_avg = @fact[:'dodavatel.offer_count_avg']
- soffer_count_avg = soffer_count_avg ? number_with_precision(soffer_count_avg, :precision => 2) : "neznámy"
- scompetitiveness = @fact[:'dodavatel.competitiveness']
- scompetitiveness = scompetitiveness ? number_with_precision(scompetitiveness, :precision => 2) : "neznámy"
- poffer_count_avg = @fact[:'obstaravatel.offer_count_avg']
- poffer_count_avg = poffer_count_avg ? number_with_precision(poffer_count_avg, :precision => 2) : "neznámy"
- pcompetitiveness = @fact[:'obstaravatel.competitiveness']
- pcompetitiveness = pcompetitiveness ? number_with_precision(pcompetitiveness, :precision => 2) : "neznámy"
.header.clearfix
  .fl
    %h1 Informácie o zmluve
  .fr.clearfix
    %a.button{:href => facts_path(:cut => params[:cut])} Späť

.details.clearfix
  %table#summary
    %tr
      %th Názov zákazky
      - if @fact[:'zakazka_nazov']
        %td= @fact[:'zakazka_nazov']
      - else
        %td.unknown Nezistený (pozrite v oznámení vo vestníku)
    %tr
      %th Hodnota zmluvy
      %td= number_to_currency(@fact[:'zmluva_hodnota'])
    %tr
      %th Počet zmlúv vrámci zákazky
      %td= @fact[:'pocet_zmluv']
    - if @fact[:'pocet_zmluv'] > 1
      %tr
        %th Celková hodnota zákazky
        %td= number_to_currency(@fact[:'zakazka_hodnota'])
      %tr
        %th Podiel tejto zmluvy
        %td
          = number_to_percentage(@fact[:'zmluva_hodnota']/@fact[:'zakazka_hodnota']*100, :precision => 1)
          = "z celkovej hodnoty zákazky"
    %tr
      %th Zdroj informácie
      %td= link_to('oznámenie vo vestníku verejného obstarávania ›', @fact[:'source_url'])

.details
  %h2 Oznámenie
  %table#bulletin
    %tr
      %th Číslo vestníka
      %td= @fact[:'vestnik_cislo']
    %tr
      %th Dátum oznámenia
      %td
        == #{@fact[:"date.day"]}.
        %a{:href => report_path("all", :cut => "date:#{@fact[:'date.year']}-#{@fact[:'date.month']}")}= @fact[:'date.month_name']
        %a{:href => report_path("all", :cut => "date:#{@fact[:'date.year']}")}= @fact[:'date.year']
    %tr
      %th Druh postupu
      %td= link_to(@fact[:'druh_postupu.druh_postupu_desc'], report_path("postup", :cut => "druh_postupu:#{@fact[:'druh_postupu.druh_postupu_code']}"))
    %tr
      %th Kritéria vyhodnotenia
      %td= link_to(@fact[:'kriteria_vyhodnotenia.kriteria_vyhodnotenia_desc'], report_path("all", :cut => "kriteria_vyhodnotenia:#{@fact[:'kriteria_vyhodnotenia.kriteria_vyhodnotenia_code']}"))
    
.details
  .clearfix
    .fl.small_box
      %h2 Obstarávateľ
      %table.narrow#procurer
        %tr
          %th Názov
          %td
            = link_to(@fact[:'obstaravatel.name'], report_path("procurer", :cut => "obstaravatel:#{@fact[:'obstaravatel.account_sector_code']}-#{@fact[:'obstaravatel.ico']}"))
        %tr
          %th Adresa
          %td= @fact[:'obstaravatel.address']
        %tr
          %th Sektor
          %td= link_to(@fact[:'obstaravatel.account_sector'], report_path("all", :cut => "obstaravatel:#{@fact[:'obstaravatel.account_sector_code']}"))
        %tr
          %th{:title => "Priemerný počet ponúk dodávateľa a jeho konkurencie na jednu vyhratú zmluvu od roku 2010 do dnes"} Priemerný počet ponúk:
          %td{:title => "konkurenčných ponúk prijatých obstarávateľom na jednu vyhratú zmluvu od roku 2010 do dnes"}
            = poffer_count_avg
        %tr
          %th{:title => "Objemom zákaziek vážený priemerný počet ponúk od roku 2010 do dnes."} Vážený priemerný počet ponúk:
          %td
            = pcompetitiveness
        
    .fr.small_box
      %h2 Dodávateľ
      - datum_oznamenia = @fact[:'vestnik_datum']
      - datum_vzniku = @fact[:'dodavatel.date_start']
  
      %table.narrow#supplier
        %tr
          %th Názov
          %td= link_to(@fact[:'dodavatel.name'], report_path("supplier", :cut => "dodavatel:#{@fact[:'dodavatel.ico']}"))
        %tr
          %th IČO
          %td= @fact[:'dodavatel.ico']
        %tr
          %th Adresa
          %td
            = @fact[:'dodavatel.address']
        %tr
          %th Dátum vzniku
          %td
            = @fact[:'dodavatel.date_start']
        %tr
          %th
          %td
            = "(pred #{distance_of_time_in_words(datum_vzniku, datum_oznamenia)} od dátumu zverejnenia)"
        %tr
          %th{:title => "Priemerný počet ponúk dodávateľa a jeho konkurencie na jednu vyhratú zmluvu od roku 2010 do dnes"} Priemerný počet ponúk:
          %td{:title => "konkurenčných ponúk prijatých obstarávateľom na jednu vyhratú zmluvu od roku 2010 do dnes"}
            = soffer_count_avg
        %tr
          %th{:title => "Objemom zákaziek vážený priemerný počet ponúk od roku 2010 do dnes."} Vážený priemerný počet ponúk:
          %td
            = scompetitiveness

.details
  %h2 Predmet obstaobstarávania
  %table.narrow#cpv
    - for cpv in @cpv_view
      - if cpv[:key]
        %tr
          %th= cpv[:label]
          %td= link_to(cpv[:value], report_path("cpv", :cut => "cpv:#{cpv[:path]}"))
