.clearfix
  .span-17
    .details
      %dl.clearfix
        %dt Hodnota zmlúv
        %dd
          €
          = number_to_human(@hodnota_zmluv)
      %dl.clearfix
        %dt Počet zmlúv
        %dd= number_with_delimiter(@pocet_zmluv, :delimiter => " ")
        
  .fr.tr
    - form_tag cut_path, :class => "submit-on-change date-picker", :method => "put" do
      = hidden_field_tag :current_cut, params[:cut]
      = hidden_field_tag :current_path, request.path
      - selects = date_select
      %span Rok:
      = selects[:years]
      %span Mesiac:
      = selects[:months]