%div.search_dimension
  %h2= dimension_name
  - cut = @current_cut.find{|c|c[:dimension].name==dimension.to_s} || {}
  = form.text_field "#{dimension}_name", :value => cut[:title], :autocomplete => "off", :"data-dimension" => dimension.to_s
  = form.hidden_field "#{dimension}", :"data-dimension" => dimension.to_s, :value => cut[:path] ? cut[:path].join('-') : ''
  %div.autocomplete{:class => dimension.to_s}