- if @results[dimension]
  %div.results
    - unless @results[dimension].empty?
      - @results[dimension].each do |result|
        = form.radio_button dimension, result[:path], :id => "#{dimension}_#{result[:level_key]}"
        %label{:for => "#{dimension}_#{result[:level_key]}"}= result[:value]
        %br
      - if @result_counts[dimension] > 10
        %label== 10 výsledkov z #{@result_counts[dimension]}
    - else
      Žiadne výsledky
    