- if @results[dimension]
  %div.results
    - unless @results[dimension].empty?
      - @results[dimension].each_with_index do |result, index|
        %div.result{:class => index > 9 ? "hidden" : ""}
          = result.to_yaml
          = radio_button_tag "report[#{dimension}]", result[:path], false, :id => "#{dimension}_#{result[:level_key]}"
          %label{:for => "#{dimension}_#{result[:level_key]}"}= result[:value]
          %br
      - if @result_counts[dimension] > 10
        %a{:href => "#", :class => "show-results"}== 10 výsledkov z #{@result_counts[dimension]}
    - else
      Žiadne výsledky