- if params[:action] == "create"
  %p.notice Zvoľte si výsledky pre vytvorenie prehľadu
- else
  - if params[:current_cut]
    %p.notice Prostredníctvom tohoto formulára spresníte práve zobrazený prehľad


- form_for :report, :url => reports_path, :html => {:class => "reports-search autosubmit"} do |f|
  
  = hidden_field_tag :current_cut, params[:current_cut]
  
  - {:obstaravatel => 'Obstarávateľ',     |
     :dodavatel => 'Dodávateľ',           |
     :cpv => 'Typ tovaru',                |
     :geography => 'Región'}.each do |dimension, dimension_name| |
    %div.search_dimension
      %h2= dimension_name
      = f.text_field dimension, :value => @param_report[dimension], :autocomplete => "off", :"data-dimension" => dimension.to_s
      %div.autocomplete{:class => dimension.to_s}
      %div{:id => "results_#{dimension.to_s}"}
        = render :partial => "results", :locals => {:dimension => dimension}
      %br
  
  %div
    %h2 Dátum
    %select{:name => "report[date][year]", :id => "report_date_year"}
      = options_for_select(@years, (@param_report[:date]||{})[:year])
    %select{:name => "report[date][month]", :id => "report_date_month"}
      = options_for_select(@months, (@param_report[:date]||{})[:month])
    = f.hidden_field :date_path, :class => "date"
    
  %div
    %h2 Postup
    = f.select :druh_postupu, options_for_select(@postupy, @param_report[:druh_postupu])
    
  %div
    %h2 Kriteria vyhodnotenia
    = f.select :kriteria_vyhodnotenia, options_for_select(@kriteria_vyhodnotenia, @param_report[:kriteria_vyhodnotenia])
  
  = f.hidden_field :show_report, :value => "", :class => "show-report"

  = f.submit "Vyhľadať", :class => "repeat-search-button"
  = f.submit "Zobraziť prehľad", :class => "show-report-button", :disabled => params[:action] == "new" ? true : false