.header.clearfix
  %h1.fl
    %em CPV:
    = @detail[:cpv_division_desc]
  .fr= render :partial => "reports/buttons"
    
= render :partial => "reports/slicer"
= render :partial => "reports/details"

.clearfix
  .left_column.clearfix
    %h2.fl Obstáravatelia
    .clearfix.fr
      = link_to "Zobraziť všetko", list_path("procurer", :cut => @slicer.to_param), :class => "button simple"
    = @obstaravatelia_table.as_html
  .right_column.clearfix
    %h2.fl Dodávatelia
    .clearfix.fr
      = link_to "Zobraziť všetko", list_path("supplier", :cut => @slicer.to_param), :class => "button simple"
    = @dodavatelia_table.as_html

.clearfix
  .left_column
    = @obstaravatelia_chart.as_html
  .right_column
    = @dodavatelia_chart.as_html

%br
%br

.clearfix
  .left_column.clearfix
    %h2.fl Typy tovarov
    .clearfix.fr
      = link_to "Zobraziť všetko", list_path("cpv", :cut => @slicer.to_param), :class => "button simple"
    = @typy_tovarov_table.as_html
  .right_column
    %h2 Typy tovarov (graf)
    = DataView::PieChart.new(@typy_tovarov, {:labels => 0, :series => 1}).as_html

%br
%br

.clearfix
  .left_column.clearfix
    %h2.fl Druhy postupov
    .clearfix.fr
    = @druhy_postupov_table.as_html
  .right_column
    %h2 Druhy postupov (graf)
    = @druhy_postupov_chart.as_html
    
%br
%br

%h2 Vývoj v priebehu roka 

= DataView::BarChart.new(@posledny_rok, {:labels => 0, :series => 1}).as_html