%h1 Vyhľadávanie

- if params[:action] == "create"
  %p.notice Zvoľte si výsledky pre vytvorenie prehľadu


- form_for :report, :url => reports_path, :html => {:class => "reports-search"} do |f|
  
  = hidden_field_tag :current_cut, params[:current_cut]
  
  %div
    %h2 Obstarávateľ
    = f.text_field :obstaravatel, :value => @param_report[:obstaravatel]
    = render :partial => "results", :locals => {:dimension => :obstaravatel, :form => f}
  %br
  
  %div
    %h2 Dodávateľ
    = f.text_field :dodavatel, :value => @param_report[:dodavatel]
    = render :partial => "results", :locals => {:dimension => :dodavatel, :form => f}
  %br
    
  %div
    %h2 Typ tovaru
    = f.text_field :cpv, :value => @param_report[:cpv]
    = render :partial => "results", :locals => {:dimension => :cpv, :form => f}
  %br
    
  %div
    %h2 Región
    = f.text_field :geography, :value => @param_report[:geography]
    = render :partial => "results", :locals => {:dimension => :geography, :form => f}
  %br  
  
  %div
    %h2 Dátum
    %select{:name => "report[date][year]", :id => "report_date_year"}
      = options_for_select(@years, (@param_report[:date]||{})[:year])
    %select{:name => "report[date][month]", :id => "report_date_month"}
      = options_for_select(@months, (@param_report[:date]||{})[:month])
    = f.hidden_field :date_path, :class => "date"
    
  %div
    %h2 Postup
    = f.select :druh_postupu, options_for_select(@postupy, @param_report[:druh_postupu])
    
  %div
    %h2 Kriteria vyhodnotenia
    = f.select :kriteria_vyhodnotenia, options_for_select(@kriteria_vyhodnotenia, @param_report[:kriteria_vyhodnotenia])
  
  - if params[:action] == "new"
    = f.submit "Vyhľadať"
  - elsif params[:action] == "create"
    = f.hidden_field :show_report, :value => "", :class => "show-report"
    
    = f.submit "Zopakovať vyhľadávanie", :class => "repeat-search-button"
    = f.submit "Zobraziť prehľad", :class => "show-report-button"
    
  