= render :partial => "reports/buttons"

.header
  %h1
    %em Obstáravateľ:
    = @detail[:'obstaravatel.name']
  .details    
    %table.narrow#procurer
      %tr
        %th IČO
        %td= @detail[:'obstaravatel.ico']
      %tr
        %th Adresa
        %td= @detail[:'obstaravatel.address']
      %tr
        %th Sektor
        %td= link_to(@detail[:'obstaravatel.account_sector'], report_path("all", :cut => "obstaravatel:#{@detail[:'obstaravatel.account_sector_code']}"))
    
= render :partial => "reports/slicer"
= render :partial => "reports/details"

.clearfix
  .left_column.clearfix
    %h2 Dodávatelia
    = @dodavatelia_table.as_html
    = link_to "Zobraziť všetko", list_path("supplier", :cut => @slicer.to_param), :class => "button simple"

  .right_column
    %h2 Top dodávatelia (graf)
    = @dodavatelia_chart.as_html


%br
%br
    
.clearfix
  .left_column.clearfix
    %h2 Typy tovarov
    = @typy_tovarov_table.as_html
    = link_to "Zobraziť všetko", list_path("cpv", :cut => @slicer.to_param), :class => "button simple"
  .right_column
    %h2 Typy tovarov (graf)
    = DataView::PieChart.new(@typy_tovarov, {:labels => 0, :series => 1, :dimension => "cpv"}).as_html

%br
%br

.clearfix
  .left_column
    %h2 Druhy postupov
    = @druhy_postupov_table.as_html
  .right_column
    %h2 Druhy postupov (graf)
    = @druhy_postupov_chart.as_html
    
%br
%br

%h2
  Vývoj v priebehu roka 
  %a{:name => "year-chart", :href => "#year-chart"}
    = image_tag "link.png"

= DataView::BarChart.new(@posledny_rok, {:labels => 0, :series => 1, :dimension => :obstaravatel}).as_html