= render :partial => "reports/buttons"
- offer_count_avg = @detail[:'dodavatel.offer_count_avg']
- offer_count_avg = offer_count_avg ? number_with_precision(offer_count_avg, :precision => 2) : "neznámy"
- competitiveness = @detail[:'dodavatel.competitiveness']
- competitiveness = competitiveness ? number_with_precision(competitiveness, :precision => 2) : "neznámy"
.header
  %h1
    %em Dodávateľ:
    = @detail[:"dodavatel.name"]
  .details
    %table.narrow#supplier
      %tr
        %th IČO
        %td= @detail[:'dodavatel.ico']
      %tr
        %th Adresa
        %td
          = @detail[:'dodavatel.address']
      %tr
        - datum_vzniku = @detail[:'dodavatel.date_start']
        %th Dátum vzniku
        %td
          = @detail[:'dodavatel.date_start']
          = "(pred #{distance_of_time_in_words(datum_vzniku, Date.today)})"
      %tr
        %th{:title => "Priemerný počet ponúk dodávateľa a jeho konkurencie na jednu vyhratú zmluvu od roku 2009 do dnes"} Priemerný počet ponúk:
        %td
          = offer_count_avg
          = "(ponúk dodávateľa a jeho konkurencie na jednu vyhratú zmluvu od roku 2009 do dnes)"
      %tr
        %th{:title => "Objemom zákaziek vážený priemerný počet ponúk od roku 2009 do dnes."} Vážený priemerný počet ponúk:
        %td
          = competitiveness

= render :partial => "reports/slicer"
= render :partial => "reports/details"

.clearfix
  .left_column.clearfix
    %h2 Obstáravatelia
    = @obstaravatelia_table.as_html
    = link_to "Zobraziť všetko", list_path("procurer", :cut => @slicer.to_param), :class => "button simple"
    
  .right_column
    %h2 Top obstáravatelia (graf)
    = @obstaravatelia_chart.as_html


%br
%br
    
.clearfix
  .left_column.clearfix
    %h2 Typy tovarov
    = @typy_tovarov_table.as_html
    = link_to "Zobraziť všetko", list_path("cpv", :cut => @slicer.to_param), :class => "button simple"
    
  .right_column
    %h2 Typy tovarov (graf)
    = DataView::PieChart.new(@typy_tovarov, {:labels => 0, :series => 1, :dimension => "cpv"}).as_html

%br
%br

.clearfix
  .left_column.clearfix
    %h2.fl Druhy postupov
    .clearfix.fr
    = @druhy_postupov_table.as_html
  .right_column
    %h2 Druhy postupov (graf)
    = @druhy_postupov_chart.as_html
    
%br
%br

%h2
  Vývoj v priebehu roka 
  %a{:name => "year-chart", :href => "#year-chart"}
    = image_tag "link.png"

= DataView::BarChart.new(@posledny_rok, {:labels => 0, :series => 1, :dimension => :date}).as_html