.tc
  .links
    = link_to "O projekte", page_path("o-projekte"), :class => "light"
    |
    = link_to "Právne informácie", page_path("pravne-informacie"), :class => "light"
    |
    = link_to "Kontakt", page_path("kontakt"), :class => "light"
  
  %br

  %a{:href => "http://www.transparency.sk"}
    = image_tag "logo_ti.png"
  &nbsp;&nbsp;&nbsp;&nbsp;
  %a{:href => "http://democracyfarm.org"}
    = image_tag "logo_verejne_online.png"