!!!
%html
  %head
    %title Procurement reports
    = stylesheet_link_tag "blueprint", "inscription", "application"
    %script{:src => "http://www.google.com/jsapi", :type => "text/javascript"}
    :javascript
      google.load('visualization', '1', {'packages':['piechart']});
    = csrf_meta_tag

  %body
    #header.clearfix
      %a.header.fl{:href => '/'}
      %ul.fr.links
        = link_to "O projekte", page_path("o-projekte"), :class => "light"
        |
        = link_to "Právne informácie", page_path("pravne-informacie"), :class => "light"
        |
        = link_to "Mapa stránky", page_path("mapa-stranky"), :class => "light"
        |
        = link_to "Kontakt", page_path("kontakt"), :class => "light"
    #container
      #navigation
      #content
        = yield
      #footer
