!!!
%html
  %head
    %title Verejné obstarávania
    = stylesheet_link_tag "blueprint", "inscription", "application"
    = stylesheet_link_tag '/fancybox/jquery.fancybox-1.3.1.css'
    = javascript_include_tag 'jquery.js', 'inscription.js', 'application.js', 'reports.js'
    = javascript_include_tag '/fancybox/jquery.mousewheel-3.0.2.pack.js', '/fancybox/jquery.fancybox-1.3.1.js'
    %script{:src => "http://www.google.com/jsapi", :type => "text/javascript"}
    :javascript
      google.load('visualization', '1', {'packages':['piechart']});
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '#{ENV['GOOGLE_ANALYTICS_ID']}']);
      _gaq.push(['_trackPageview']);
        
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    = csrf_meta_tag

  %body
    #header
      %a.header{:href => '/'}
    #container
      #navigation
        %ul.nav.clearfix
          = navigation_link('Úvod', report_path('default'))
          = navigation_link('Celkový Prehľad', report_path('all'))
          = navigation_link('Obstarávatelia', dimension_path('obstaravatel'))
          = navigation_link('Dodávatelia', dimension_path('dodavatel'))
          = navigation_link('Predmety', dimension_path('cpv'))
          = navigation_link('Regióny', dimension_path('geography'))
          = navigation_link('Vyhľadávanie', new_report_path)
          
      #content
        = yield
      #footer
        = render :partial => "layouts/footer"