!!!
%html
  %head
    %title Verejné obstarávania
    = stylesheet_link_tag "blueprint", "inscription", "application"
    = javascript_include_tag 'jquery.js', 'application.js', 'reports.js'
    %script{:src => "http://www.google.com/jsapi", :type => "text/javascript"}
    :javascript
      google.load('visualization', '1', {'packages':['piechart']});
    = csrf_meta_tag

  %body
    #header
      %a.header{:href => '/'}
    #container
      #navigation
        %ul.nav.clearfix
          %li
            %a{:href => report_path('default')} Úvod
          %li
            %a{:href => report_path('all')} Celkový Prehľad
          %li
            %a{:href => dimension_path('obstaravatel')} Obstarávatelia
          %li
            %a{:href => dimension_path('dodavatel')} Dodávatelia
          %li
            %a{:href => dimension_path('cpv')} Typy tovarov
          %li
            %a{:href => dimension_path('geography')} Regióny
          %li
            %a{:href => new_report_path} Vyhľadávanie
      #content
        = yield
      #footer
        = render :partial => "layouts/footer"